@charset "UTF-8";
html, body {
  font-size: 62.5%;
}

.markdown-body {
  max-width: 800px;
  margin: 0 auto;
}

html {
  font-size: 16px;
}

.markdown-body .line-numbers-mode pre {
  display: flex;
}
.markdown-body .line-numbers-mode pre .line-numbers-wrapper {
  padding-right: 6px;
  margin-right: 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  color: #818181;
  text-align: right;
}
.markdown-body .line-numbers-mode pre .line-numbers-wrapper, .markdown-body .line-numbers-mode pre code {
  font-size: 16px;
}

.markdown-body details {
  margin: 0 0 0.6em 0;
}
.markdown-body details summary {
  display: inine-block;
  padding: 0.3em 0.6em;
  width: auto;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ddddf7;
  cursor: pointer;
  background: #b3b3ee linear-gradient(to bottom, #c8c8f3 48%, #b3b3ee 52%);
  border: solid 1px #7575e0;
  border-radius: 0.3em;
  color: midnightblue;
  user-select: none;
}
.markdown-body details summary .details-open-indicator {
  position: absolute;
  visibility: hidden;
}
.markdown-body details summary::-webkit-details-marker {
  display: none;
}
.markdown-body details summary:before {
  content: "​​▶";
  float: left;
  margin-right: 0.5em;
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}
.markdown-body details summary:after {
  content: "展开";
  float: right;
  opacity: 0;
  font-size: 0.8em;
  transition: opacity 0.8s;
}
.markdown-body details summary:hover:after {
  opacity: 0.7;
}
.markdown-body details summary:focus {
  outline: none;
}
.markdown-body details article {
  border: solid 1px #7575e0;
  border-top-color: hsl(0, 0%, 90%);
}
.markdown-body details[open] summary {
  color: #101046;
  text-shadow: none;
  background: #8a8ae5;
  border-radius: 0.3em 0.3em 0 0;
}
.markdown-body details[open] summary:before {
  transform: rotate(90deg);
}
.markdown-body details[open] summary:after {
  content: "隐藏";
}
.markdown-body details[open] article {
  border-radius: 0 0 0.3em 0.3em;
}

.markdown-body .center {
  display: flex;
  justify-content: center;
}
.markdown-body .line {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 auto;
}
.markdown-body .line > * {
  margin-right: 5px;
}

.markdown-body .blackboard {
  color: rgba(238, 238, 238, 0.7);
  position: relative;
  margin: 30px 7%;
  border: tan solid 12px;
  border-top: #bda27e solid 12px;
  border-left: #b19876 solid 12px;
  border-bottom: #c9ad86 solid 12px;
  box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient(215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient(circle at right, #111, rgb(51, 51, 51));
  background-color: #333;
}
.markdown-body .blackboard .blackboard-content {
  color: #ccc;
  margin-top: 50px;
  padding: 10px;
}
.markdown-body .blackboard:before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient(200deg, transparent 80%, rgba(50, 50, 50, 0.3)), radial-gradient(ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent);
  border: #2c2c2c solid 2px;
  content: "小黑板";
  font-family: "Permanent Marker", cursive;
  font-size: 2.2em;
  color: rgba(238, 238, 238, 0.7);
  text-align: center;
  padding-top: 2px;
}

.markdown-body .warning, .markdown-body .error, .markdown-body .info {
  position: relative;
  background: #ccc;
  border-left: 5px solid red;
  min-height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 12px 24px 12px 30px;
}
.markdown-body .warning .title-icon, .markdown-body .error .title-icon, .markdown-body .info .title-icon {
  position: absolute;
  left: -12px;
  top: 10px;
}
.markdown-body .warning .title-icon img, .markdown-body .error .title-icon img, .markdown-body .info .title-icon img {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
.markdown-body .warning {
  border-color: #ff9800;
}
.markdown-body .warning .title-icon img {
  background: #cc7a00;
}
.markdown-body .info {
  border-color: #00529B;
}
.markdown-body .info .title-icon img {
  background: #35a0ff;
}
.markdown-body .error .title-icon img {
  background: #ff6666;
}

.emoji {
  height: 1.2em;
}

.markdown-body .viz-contain {
  display: flex;
  justify-content: center;
}

.markdown-body abbr[title], .markdown-body abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}

iframe.bilibili_iframe {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.lb-box {
  width: 600px;
  margin: 1em auto;
  position: relative;
  overflow: hidden;
  /*  */
}
.lb-box .lb-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.lb-box .lb-item {
  display: none;
  position: relative;
}
.lb-box img.lb-item {
  object-fit: contain;
}
.lb-box .lb-item.active {
  display: block;
  left: 0%;
}
.lb-box .lb-item.active.left {
  left: -100%;
}
.lb-box .lb-item.active.right {
  left: 100%;
}
.lb-box .lb-item.next,
.lb-box .lb-item.prev {
  display: block;
  position: absolute;
  top: 0px;
}
.lb-box .lb-item.next {
  left: 100%;
}
.lb-box .lb-item.prev {
  left: -100%;
}
.lb-box .lb-item.next.left,
.lb-box .lb-item.prev.right {
  left: 0%;
}
.lb-box .lb-sign {
  position: absolute;
  right: 10px;
  top: 0px;
  padding: 5px 3px;
  border-radius: 6px;
  list-style: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.7);
}
.lb-box .lb-sign li {
  width: 22px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  float: left;
  color: #aaa;
  margin: auto 4px;
  border-radius: 3px;
  cursor: pointer;
}
.lb-box .lb-sign li:hover {
  color: #fff;
}
.lb-box .lb-sign li.active {
  color: #000;
  background-color: #EBEBEB;
}
.lb-box .lb-ctrl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 900;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s linear;
}
@media (max-width: 568px) {
  .lb-box .lb-ctrl {
    font-size: 30px;
  }
}
.lb-box .lb-ctrl.left {
  left: -50px;
}
.lb-box .lb-ctrl.right {
  right: -50px;
}

.lb-box:hover .lb-ctrl.left {
  left: 10px;
}

.lb-box:hover .lb-ctrl.right {
  right: 10px;
}

.lb-ctrl:hover {
  background-color: #000;
}

@media (max-width: 568px) {
  .lb-box {
    width: 76%;
    height: 220px;
  }
}
.ps-root {
  font-family: KaTeX_Main, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: 100;
  -webkit-font-smoothing: antialiased !important;
  color: var(--default-fence-text-light-color);
}

html.dark .ps-root {
  color: var(--default-fence-text-dark-color);
}

.ps-root .ps-algorithm {
  margin: 0.8em 0;
  /* algorithm environment has borders; algorithmic has not */
  border-top: 3px solid black;
  border-bottom: 2px solid black;
}

.ps-root .ps-algorithm.with-caption > .ps-line:first-child {
  border-bottom: 2px solid black;
}

html.dark .ps-root .ps-algorithm,
html.dark .ps-root .ps-algorithm.with-caption > .ps-line:first-child {
  border-color: var(--default-fence-text-dark-color);
}

.ps-root .katex {
  text-indent: 0;
  font-size: 1em;
}

.ps-root .MathJax_CHTML, .ps-root .MathJax {
  text-indent: 0;
  font-size: 1em !important;
}

.ps-root .ps-line {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.ps-root .ps-funcname {
  font-family: KaTeX_Main, "Times New Roman", Times, serif;
  font-weight: normal;
  font-variant: small-caps;
  font-style: normal;
  text-transform: none;
}

.ps-root .ps-keyword {
  font-family: KaTeX_Main, "Times New Roman", Times, serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  text-transform: none;
}

.ps-root .ps-comment {
  font-family: KaTeX_Main, "Times New Roman", Times, serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  text-transform: none;
}

/* line number support */
.ps-root .ps-linenum {
  font-size: 0.8em;
  line-height: 1em;
  width: 1.6em;
  text-align: right;
  display: inline-block;
  position: relative;
  padding-right: 0.3em;
}

.ps-root .ps-algorithmic.with-linenum .ps-line.ps-code {
  text-indent: -1.6em;
}

.ps-root .ps-algorithmic.with-linenum .ps-line.ps-code > span {
  text-indent: 0em;
}

.markdown-body .oneline {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  column-gap: 1em;
}

:root {
  /* == 字体设置 == */
  /* 基准字体 */
  /* 备选：Times, "Times New Roman" */
  --base-Latin-font: "Latin Modern Roman", "Latin Modern Roman 10", Times;
  --base-Chinese-font: $__font_hei;
  --base-font-size: 16px;
  /* 引言字体 */
  --quote-font: "Latin Modern Roman", "Latin Modern Roman 10", Times,
    "Times New Roman",-apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
  /* em单位为一个正文字符（--base-font-size）大小，
  例如，如果您设置 --base-font-size 为 9.5pt，那么 1.05em = 1.05*9.5pt ≈ 10pt。下面的标题字体等设置也遵循该规则。
  这样，您就可以仅通过调整基准字体大小，而动态对其他元素大小做出调整。
  当然，您也可以直接设置以pt或px为单位的数值，将元素的大小固定下来，如 --quote-font-size: 10pt; */
  --quote-font-size: 1.05em;
  /* 代码字体（代码中的中文会调用 ui-font） */
  /* "Courier New" 从 Windows 3.1 起成为 Windows 官方提供的字体 */
  /* "Consolas" 从 Windows Vista 起成为 Windows 官方提供的字体 */
  --code-font: "Latin Modern Mono", "Latin Modern Mono 10", "Consolas", "Courier New";
  /* 侧边栏字体 */
  --ui-font: -apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
  /* source mode 字体 */
  /* 默认调用 code-font 和 ui-font */
  --sourceMode-font: "SF Mono", -apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
  /* 目录字体 */
  /* 默认调用 base-font */
  --toc-font: "";
  /* 默认调用 base-font-size */
  --toc-font-size: "";
  /* 公式字体 */
  --math-font-size: 1em;
  /* 表格字体 */
  /* 默认调用 heading-font */
  --table-title-font: "";
  /* 默认调用 base-font */
  --table-font: "";
  /* 标题字体（总设置） */
  --heading-Latin-font: var(--base-Latin-font);
  --heading-Chinese-font: "-apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif";
  /* 标题字体分别设置 */
  /* 大标题（h1）字体 */
  --title-Chinese-font: "-apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif";
  --title-font-size: 1.9em;
  /* h2字体 */
  --h2-Chinese-font: "-apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif";
  --h2-font-size: 1.5em;
  /* h3字体 */
  --h3-Chinese-font: "-apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif";
  --h3-font-size: 1.25em;
  /* h4字体 */
  --h4-Chinese-font: "-apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif";
  --h4-font-size: 1.15em;
  /* h5字体 */
  --h5-Chinese-font: "-apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif";
  --h5-font-size: 1.10em;
  /* h6字体 */
  --h6-Chinese-font: "-apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif";
  --h6-font-size: 1.05em;
  /* 粗体样式设置 */
  /* 加粗风格时使用的字重；400等同于 normal，700等同于 bold，900等同于 heavy */
  --strong-weight: 900;
  /* 基础行距 */
  --base-line-height: 1.618em;
  /* == 页面设置 == */
  /* 打印页边距 */
  --set-margin: 1.8cm 2cm 1.2cm 2cm !important;
  /* == 控制设置 == */
  /* 目录中是否显示一级标题 */
  --toc-show-title: none;
  /* == 颜色设置 == */
  /* 超链接颜色 */
  --link-color-light: #2E67D3;
  --link-color-dark: #8bb1f9;
}

@media print {
  .markdown-body {
    padding: 0 !important;
  }
  @page {
    margin: 1.8cm 2cm 1.2cm 2cm !important; /* 页边距 */
  }
}
.markdown-body {
  font-family: var(--base-Latin-font), var(--base-Chinese-font), serif;
  font-size: var(--base-font-size);
  /* A4标准宽度 */
  /* column-count: 2;
    column-gap: 25px;
    column-width: 8cm; 
    display: inline-block; */
  /* 这里可以试分栏的，但确实不适合实现 */
}
.markdown-body .md-math-block,
.markdown-body .md-rawblock,
.markdown-body p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.markdown-body p {
  text-align: left;
  line-height: var(--base-line-height);
}
.markdown-body a {
  color: var(--link-color-light);
}

hr {
  border-top: solid 1px #ddd;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

img {
  /* 避免图片在导出时被断开 */
  page-break-inside: avoid;
}

strong {
  font-weight: var(--strong-weight);
}

@media screen {
  .markdown-body {
    /* 添加一个淡蓝色的边框 */
    /* 页边阴影 */
    /* offset-x | offset-y | blur-radius | spread-radius | color */
  }
}
.MathJax {
  font-size: var(--math-font-size);
}

/* typora 编写模式 */
/* 侧边大纲标题 */
.sidebar-content .outline-h1 {
  counter-reset: outline-h2;
}
.sidebar-content .outline-h2 {
  counter-reset: outline-h3;
}
.sidebar-content .outline-h2 .outline-label:before {
  counter-increment: outline-h2;
  content: counter(outline-h2) " ";
}
.sidebar-content .outline-h3 {
  counter-reset: outline-h4;
}
.sidebar-content .outline-h3 .outline-label:before {
  counter-increment: outline-h3;
  content: counter(outline-h2) "." counter(outline-h3) "  ";
}
.sidebar-content .outline-h4 {
  counter-reset: outline-h5;
}
.sidebar-content .outline-h4 .outline-label:before {
  counter-increment: outline-h4;
  content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4) "  ";
}
.sidebar-content .outline-h5 {
  counter-reset: outline-h6;
}
.sidebar-content .outline-h5 .outline-label:before {
  counter-increment: outline-h5;
  content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4) "." counter(outline-h5) "  ";
}

.sidebar-content {
  /* 侧边栏的字体修改 */
  font-family: var(--ui-font);
  list-style: none;
  /* 黑色模式修改 */
  background-color: #282828;
  color: #e9e9e9;
}

.markdown-body > h3.md-focus:before,
.markdown-body > h4.md-focus:before,
.markdown-body > h5.md-focus:before,
.markdown-body > h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
  color: inherit;
  border: inherit;
  border-radius: inherit;
  position: inherit;
  left: initial;
  float: none;
  top: initial;
  font-size: inherit;
  padding-left: inherit;
  padding-right: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.markdown-body {
  counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: bold;
  page-break-after: avoid !important;
}
.markdown-body h1 {
  font-family: var(--heading-Latin-font), Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW-Kai", serif, serif;
  text-align: center;
  column-span: all;
  font-size: var(--title-font-size);
}
.markdown-body h2 {
  font-family: var(--heading-Latin-font), Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX-F", serif, serif;
  font-size: var(--h2-font-size);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.markdown-body h3 {
  font-family: var(--heading-Latin-font), Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX-F", serif, var(--h3-Chinese-font), serif;
  font-size: var(--h3-font-size);
  line-height: var(--h3-font-size);
}
.markdown-body h4 {
  font-family: var(--heading-Latin-font), Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX-F", serif, var(--h4-Chinese-font), serif;
  font-size: var(--h4-font-size);
  line-height: var(--h4-font-size);
}
.markdown-body h5 {
  font-family: var(--heading-Latin-font), Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX-F", serif, var(--h5-Chinese-font), serif;
  font-size: var(--h5-font-size);
  line-height: var(--h5-font-size);
}
.markdown-body h6 {
  font-family: var(--heading-Latin-font), Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX-F", serif, var(--h6-Chinese-font), serif;
  font-size: var(--h6-font-size);
  /* 没有写错，为了避免行距太小才这么写 */
  line-height: var(--h5-font-size);
}
.markdown-body h1 {
  counter-reset: h2;
}
.markdown-body h2 {
  counter-reset: h3;
}
.markdown-body h3 {
  counter-reset: h4;
}
.markdown-body h4 {
  counter-reset: h5;
}
.markdown-body h5 {
  counter-reset: h6;
}
.markdown-body h2:before {
  counter-increment: h2;
  content: counter(h2);
  margin-right: 1.2em;
}

.markdown-body h3:before, h3.md-focus.md-heading:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3);
  margin-right: 1.2em;
}

.markdown-body h4:before, h4.md-focus.md-heading:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4);
  margin-right: 1.2em;
}

.markdown-body h5:before, h5.md-focus.md-heading:before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
  margin-right: 1.2em;
}

.markdown-body h6:before, h6.md-focus.md-heading:before {
  counter-increment: h6;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
  margin-right: 1.2em;
}

/* 参考文献（脚注）块 */
.footnotes {
  font-size: 0.95em;
}

.footnotes-area .footnote-line {
  color: var(--text-color);
}
.footnotes-area hr {
  border: 0;
  color: rgba(0, 0, 0, 0);
}

/* 无序列表 */
ul {
  list-style: disc;
}
ul ul {
  /*list-style: circle;*/
  /* 请勿删除“–”后的空格, 他们对缩进有一定影响, 下同 */
  list-style: "–   ";
}
ul ul ul {
  list-style: "◦  ";
}

/* 有序列表 */
ol {
  list-style: decimal;
}
ol ol {
  counter-reset: liist;
  list-style: none;
}
ol ol li {
  counter-increment: liist;
  position: relative;
}
ol ol li::before {
  content: "(" counter(liist, lower-alpha) ")";
  position: absolute;
  left: -1.8em;
}
ol ol ol {
  counter-reset: liiist;
  list-style: none;
  margin: 0;
}
ol ol ol li {
  counter-increment: liiist;
  position: relative;
}
ol ol ol li::before {
  content: counter(liiist, lower-roman) ".";
  align-self: flex-end;
  position: absolute;
  left: -4.5em;
  /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
  /* 为了让项目编号是重新用句点对齐而不是左对齐 */
  width: 4em;
  text-align: right;
}

li {
  position: relative;
}

ol, ul {
  padding-inline-start: 2em;
}

/* task列表 */
.md-task-list-item > input {
  margin-top: 0.42em;
  margin-left: -1.5em;
  width: 1em !important;
  height: 1em !important;
}

.markdown-body table {
  /* 三线表第一条线宽度 */
  border-top: 1.2pt solid;
  /* 三线表第二条线宽度 */
  border-bottom: 1.2pt solid;
  font-family: var(--table-font), var(--base-Latin-font), var(--base-Chinese-font), serif;
  /* font-size: var(--base-font-size); */
  text-align: center;
  page-break-inside: avoid;
  border-spacing: 6px;
  /* 自动布局表格宽度，如果有时内容太紧建议直接加空格吧，我自己看不惯和页面等宽的大表格 */
  width: auto;
  /* 使表格默认居中；虽然这个代码不好，但好像没别的实现办法 */
  margin: 0 auto;
}
.markdown-body table td {
  padding: 2px;
}
.markdown-body table tr {
  padding: 2px;
}
.markdown-body th {
  padding: 0px 6px;
}
.markdown-body thead {
  /* 表格标题（首行）样式 */
  /* 三线表表头的线 */
  border-bottom: 0.5pt solid;
  font-family: var(--table-title-font), var(--heading-Latin-font), var(--heading-Chinese-font), serif !important;
  /* font-size: var(--base-font-size); */
  font-weight: var(--strong-weight);
}

/* 一个>的引言仅为两字符缩进，使用>>的引言为传统引言样式，具有左竖线、左缩进 */
blockquote {
  font-style: normal;
  font-family: var(--quote-font), var(--base-Latin-font), var(--base-Chinese-font), -apple-system, serif;
  font-size: var(--quote-font-size);
  /* 文字离左边框的距离 */
  padding-left: 2em;
  /* 左边框离页面边的距离 */
  border-left: 4px solid #ccc;
  margin-left: 0;
}

html.dark blockquote {
  background-color: var(--dark-background);
  border-color: #333;
}

blockquote p:first-child {
  padding-top: 1ch;
}

blockquote p:last-child {
  padding-bottom: 1ch;
}

blockquote blockquote {
  border-left: 4px solid hsl(0, 0%, 70%);
  padding-left: calc(2ch - 4px);
  padding-right: 0;
  margin-left: -4px;
  border-radius: 0;
}

/* 行内代码 */
code {
  font-family: var(--code-font), var(--ui-font), monospace;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code,
p code,
li code {
  color: rgb(60, 112, 198);
  background-color: #fefefe;
  /* 阴影 */
  box-shadow: 0 0 1px 1px #c8d3df;
  font-family: var(--code-font), var(--ui-font), monospace;
  box-sizing: border-box;
  border-right: 0px;
  margin: 0 2px 0 2px;
  padding: 0 2px 0 2px;
  /* 圆角 */
  border-radius: 2px 2px 2px 2px;
}

li pre code {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

/* 代码块样式 */
.md-fences,
.CodeMirror pre {
  font-size: 1em;
}

.CodeMirror-wrap {
  /* padding: 10px; */
  font-size: 1em;
}

.CodeMirror-code pre {
  font-family: var(--code-font), var(--ui-font), monospace;
}

/* 目录 */
.md-toc {
  font-size: var(--toc-font-size);
}

.md-toc-content {
  margin-left: 2em;
  /* 修复缺失上级标题时无法递增 */
  counter-reset: toc-h2 toc-h3 toc-h4;
  page-break-after: always;
}

.md-toc-inner {
  margin-left: 0 !important;
  color: var(--text-color) !important;
}

.md-toc-item {
  color: var(--text-color) !important;
}

/* 目录标题内容属性 */
.md-toc-h2,
.md-toc-h3,
.md-toc-h4,
.md-toc-h5,
.md-toc-h6 {
  font-size: var(--toc-font-size);
  font-family: var(--toc-font), var(--base-Latin-font), var(--base-Chinese-font), serif;
}

.md-toc-h2 {
  font-weight: var(--strong-weight);
}

/* 目录标题前 */
.md-toc-content .md-toc-h1 {
  display: var(--toc-show-title);
  counter-reset: toc-h2;
}
.md-toc-content .md-toc-h2 {
  counter-reset: toc-h3;
}
.md-toc-content .md-toc-h3 {
  counter-reset: toc-h4;
}
.md-toc-content .md-toc-h4 {
  counter-reset: toc-h5;
}
.md-toc-content .md-toc-h5 {
  counter-reset: toc-h6;
}
.md-toc-content .md-toc-h2:before {
  counter-increment: toc-h2;
  content: counter(toc-h2);
  margin-right: 1em;
  font-weight: var(--strong-weight);
}
.md-toc-content .md-toc-h3:before {
  counter-increment: toc-h3;
  content: counter(toc-h2) "." counter(toc-h3);
  margin-left: 1.5em;
  margin-right: 0.5em;
}
.md-toc-content .md-toc-h4:before {
  counter-increment: toc-h4;
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4);
  margin-left: 3.5em;
  margin-right: 0.5em;
}
.md-toc-content .md-toc-h5:before {
  counter-increment: toc-h5;
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) "." counter(toc-h5);
  margin-left: 5.5em;
  margin-right: 0.5em;
}
.md-toc-content .md-toc-h6:before {
  counter-increment: toc-h6;
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) "." counter(toc-h5) "." counter(toc-h6);
  margin-left: 7.5em;
  margin-right: 0.5em;
}

div[class^=language-] {
  position: relative;
}

.zeroclipboard-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
}
.zeroclipboard-container:hover {
  background: rgba(255, 255, 255, 0.5);
}
.zeroclipboard-container svg {
  fill: #bbb;
}
.zeroclipboard-container svg:hover {
  fill: #fff;
}
.zeroclipboard-container svg:first-child {
  display: unset;
}
.zeroclipboard-container svg:last-child {
  display: none;
}

.zeroclipboard-container.copied svg:first-child {
  display: none;
}
.zeroclipboard-container.copied svg:last-child {
  display: unset;
}

.prose :where(pre, code):not(:where(.not-prose, .not-prose *))::after, .prose :where(pre, code):not(:where(.not-prose, .not-prose *))::before {
  content: none;
}

html.dark code[v-pre] > span::before {
  color: rgba(153, 153, 153, 0.8392156863);
}

code[v-pre] {
  counter-reset: list-counter;
}
code[v-pre] > span {
  line-height: 20px;
  height: 20px;
}
code[v-pre] > span::before {
  counter-increment: list-counter;
  content: counter(list-counter);
  border-right: 1px solid;
  color: rgba(44, 44, 44, 0.4352941176);
  display: inline-block;
  text-align: right;
  width: 30px;
  padding: 0 5px;
  user-select: none;
  margin-right: 10px;
}
code[v-pre] span.line:last-child:has(span:first-child:empty) {
  display: none;
}
code[v-pre] span.line:last-child:has(span:first-child:empty)::before {
  display: none;
}
code[v-pre] span.line:last-child:empty {
  display: none;
}
code[v-pre] span.line:nth-last-child(2):empty:has(+ span.line:last-child:empty) {
  display: none;
}

p > eq {
  margin: 0 0.2em;
}

section:has(> eqn) {
  margin: 3.5rem 0;
}

.prose > h1:first-child {
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1882352941);
  padding: 1rem 0;
}

html.dark .markdown-body > h1:first-child {
  border-color: rgba(219, 215, 202, 0.15);
}

.markdown-body .shiki .highlighted {
  margin: 0;
  padding: 0;
}

.markdown-body pre.shiki code[v-pre] {
  padding: 1em 0;
}

.markdown-body iframe {
  width: 100%;
}

.markdown-body figure {
  margin: 2rem 0;
  flex-direction: column;
  justify-content: center;
}
.markdown-body figure img {
  margin: 0 auto;
  border: 1px solid rgba(219, 215, 202, 0.45);
  border-radius: 0.4em;
  padding: 1rem;
}
.markdown-body figure figcaption {
  font-family: var(--code-font), var(--ui-font), monospace;
  text-align: center;
}

html.dark .markdown-body figure img {
  border: 1px solid rgba(51, 51, 51, 0.75);
  background-color: #ccc;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /**/
}

*::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #333;
}

*::-webkit-scrollbar-corner {
  background: #179a16;
}

/*# sourceMappingURL=markdown.css.map */
