---
oj: "{{oj_name}}"
problem_id: "{{problem_id}}"
title: "{{title}}"
date: {{date}}
toc: true
tags: []
desc: ""
source: {{source}}
pre:
 - luogu,P1314
book:
 - bookid
---

[[TOC]]

## 题目解析

## 代码 

@include-code(./1.cpp, cpp)

