html, body {
  margin: 1rem 0;
  padding: 0;
}

.inputContainer {
  display: flex;
  margin: 0.5em 0;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* height: 100vh; */
  /* width:800px; */
}

canvas {
  display: block;
}

.center {
  display:flex;
  justify-content:center;
}

.choose {
  background: rgb(28, 184, 65);
}

//指示 第几个物品,容量是多少
td.index {
    background: rgb(66, 184, 221);
}