.panel {
    position: fixed;
    display: flex;
    gap: 10px;
    z-index: 2;
    right: 14px;
    top: 14px;

    li {
        list-style-type: none;
    }
    input {
        display: none;
    }

    .panel-list {
        display: flex;
        font-size: 1.2rem;

        label,a {
            display: block;
            cursor: pointer;
            padding-inline-start: 8px;
            padding-inline-end: 8px;
            font-size: 18px;
            border:1px solid ;
            border-right:none;
            border-color: #565856e0;
            text-decoration: none;
        }

        input:checked + label {
            background-color: #ccc;
        }


        li:first-child label,li:first-child a {
            // border-left:1px solid ;
            border-radius: 8px 0 0 8px;
        }

        li:last-child label,li:last-child a {
            border-right: 1px solid;
            border-color: #565856e0;
            border-radius: 0 8px 8px 0;
        }
    }
}

/* Dark mode styles for checked radio */
[data-darkmode="dark"]  .panel .panel-list  input:checked+label {
  background-color: #555;
}

@media (prefers-color-scheme: dark) {
  [data-darkmode="auto"] .panel .panel-list  input:checked+label {
    background-color: #555;
  }
}