html, body {
  margin: 0;
  padding: 0;
}

.inputContainer {
  display: flex;
  margin: 0.5em 0;
  justify-content: space-around;
  /* align-items: center; */
  /* height: 100vh; */
  width:800px;
}

canvas {
  display: block;
}

