@use "sass:meta";
@use "settings.scss";
@use "container.scss";
@use "panel.scss";

@use "menu-chapter.scss";
@use "modal-menu.scss";
@use "title.scss";
@use "toc.scss";
@use "footer.scss";
@use "heading.scss";

@use "heti.scss";
@use "admonition.scss";
@use "fence_code_style.scss";

// markdown-it assets
@use "markdown-r.scss";

@use "codetabs.scss";
@use "pseudocode.min.css";

// @import "./dark.scss";


// https://stackoverflow.com/a/30279590
// The syntax is the same as now - @import "your/path/to/the/file", without an extension after the file name. This will import your file directly. If you append *.css at the end, it will translate into the css rule @import url(...).

html,body {
    font-size:62.5%;
}

body {
    color : var(--font-color-light);
    background-color: var(--body-background-color-light);
}

@mixin dark-body-mode-styles {
    color: var(--font-color-dark);
    background-color: var(--body-background-color-dark);
}

[data-darkmode="dark"] body {
    @include dark-body-mode-styles;
}

@media (prefers-color-scheme: dark) {
  [data-darkmode=auto]  body {
    @include dark-body-mode-styles;
  }
}

.markdown-body {
    max-width:800px;
    margin: 0 auto;
}


.markdown-body { 
    h1,h2,h3,h4,h5,h6 {
        font-weight: 800;
        font-family: var(--base-Header-font);
    }
}