@use "sass:meta";
@use "settings.scss";
@use "container.css";
@use "panel.scss";

// @import "./dark.scss";


// https://stackoverflow.com/a/30279590
// The syntax is the same as now - @import "your/path/to/the/file", without an extension after the file name. This will import your file directly. If you append *.css at the end, it will translate into the css rule @import url(...).

html,body {
    font-size:62.5%;
    font-family: var(--base-Chinese-font);
    background-color: hsl(0deg, 0%, 24%);
}

.markdown-body {
    max-width:800px;
    margin: 0 auto;
}
