.page-header {
  margin: 1.5rem auto;
  padding: 1.5rem;
  background: var(--container-background-color-light);
  // box-shadow: 0 8px 32px hsla(0, 0%, 0%, 0.12);
//width: fit-content;
  // max-width: 100%;
  transition: background 0.3s, color 0.3s;

}

.problem-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;
  margin: 1rem;
}
.problem-tags ,.problem-source{
  display: inline-flex;
}


// 卡片风格主标题样式
.page-header h1,
.chapter-header h1 {
  border-radius: 8px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.5rem 1rem;
  display: block;
  border: 1px solid #3498db;
  border-left: 5px solid #3498db;
  border-right: 5px solid #3498db;
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, 0.12);
  font-size: 2.2rem;
  color: #2c3e50;
  font-weight: bold;
}

@media (max-width: 768px) {
  .page-header,
  .chapter-header h1 {
    font-size: 1.5rem;
    padding: 0.3rem 0.8rem;
  }
}

[data-darkmode="dark"] .page-header,
[data-darkmode="dark"] .page-header h1,
[data-darkmode="dark"] .chapter-header h1 {
  color: #e3e8ee;
  background: var(--container-background-color-dark);
}

[data-darkmode="dark"] .page-header,
[data-darkmode="dark"] .page-header h1,
[data-darkmode="dark"] .chapter-header h1 {
  border: 1px solid #8bb1f9;
  border-left: 5px solid #8bb1f9;
  border-right: 5px solid #8bb1f9;
}

@media (prefers-color-scheme: dark) {
  [data-darkmode="auto"] .page-header,
  [data-darkmode="auto"] .page-header h1,
  [data-darkmode="auto"] .chapter-header h1 {
    color: #e3e8ee;
    background: var(--container-background-color-dark);
  }

  [data-darkmode="auto"] .page-header h1,
  [data-darkmode="auto"] .chapter-header h1 {
    border: 1px solid #8bb1f9;
    border-left: 5px solid #8bb1f9;
    border-right: 5px solid #8bb1f9;
  }
}
